# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac # v2.4.1
    hooks:
      - id: codespell
        args:
          [
            "--builtin",
            "clear,rare,informal,code,names",
            "--ignore-words-list",
            "crate,mut,ratatui",
          ]
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: 91ab4bf57e58b32adf1a122681f6ebe164d081c8 # v4.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false
      # Catches errors, not warnings
      - id: cargo-check
        name: cargo check
        language: system
        types: [file, rust]
        entry: cargo check
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [file, rust]
        entry: cargo clippy -- -Dclippy::all
        pass_filenames: false
